BODY	{ color: #000000; font-size: 12px; font-family: verdana; margin-top: 5px;  } 
TABLE	{border: 0px; padding:0px; font-size:12px;}
TD {vertical-align: top; }
TD.title { }
H3 { text-decoration: none;color:#002185;}
H4 { margin-left:35;color:#002185;}
H5	{ font-size:10px; font-decoration:none;color:#002185; }

B, Strong {text-decoration: none; color:#AB0303; }
A {color: #002185; text-decoration: underline; font-size:12px}
/* TR {color: #000000;} */

.err { color:#ff0000; height:30px; background-color:yellow; padding:1px; font-weight: bold; text-align:center; margin:10px;}
b.otherBold {font-weight:bold;color:#000000;}

fieldset {-moz-border-radius: 5px; border: 1px solid #000000; margin-bottom:0px; margin-left:10px; margin-right:10px; padding:8px; background-color:#ffffff;}
fieldset.gray { border: 1px solid /* #AB0303 */ #e9e9e9;}
fieldset.grayRefine { margin-bottom:5px; border: 1px solid /* #AB0303 */ #e9e9e9;}
legend { -moz-border-radius: 5px;font-size:14px; font-weight: bold; color:#002185; background-color:#e9e9e9; padding:3px; border:2px solid #ffffff; }
legend.red { color: #AB0303; font-size:12px; }

DIV.content { background-color: #ffffff; width: 768px; padding: 0px; /* border: 1px dashed black;*/}
div.compound {padding: 2px; width: 768px; }
div.pOptions { margin-left: 30px; width:80%; background: #f9f9f9; padding:5px;}

div.crumb {padding:5px; background: /* #e9e9e9 */ #D5E0E9; text-align:right;}

.message {color: #000000; text-decoration: none; font-size:10px; font-weight: normal}
div.message {color: #000000; text-decoration: none; font-size:10px; font-weight: normal; margin-top:8px;}
.req {color: red; text-decoration: none; font-size:12px; font-weight: normal}

td.message {background: #D5E0E9; margin-left:20px; text-align:center;}
tr.setQuery {background: /*#E6E6E6*/#f2f2f2; font-size: 11px; color:#000000; text-align:center; vertical-align:middle; font-weight:bold;}
div.setQuery {background: #f2f2f2; color:#000000; text-align:center; vertical-align:middle; font-weight:bold;}


.title {font-weight: bold; padding-top:5px; padding-bottom:5px; color: #AB0303; /*color:#0040FF*/}

.report { /*background: #ffffff; */}

div.queryRows	{
		/*position:relative;*/
		/*overflow: auto;*/
		border-width: 0px;
		border-style: solid;
		/*height:200px;*/
		width: 770px;
		background-color: #ffffff;

}

.sideBar {

 background: /* #F1F5F8 */ /* #e9e9e9 */ #D5E0E9;  
 height:100%; 
 vertical-align:top;
 margin-left:0px; 
 margin-right:0px; 
 padding:5px;
 border-color: #ffffff;
 }

.xbutton	{
					font-family:arial;
					font-size:10px;
					font-weight:bold;
					background:#ffffff;
					color:#002185; 
					border-width:1px;
					border-style:solid;
					border-color: #002185;
					width:110px; 
					height:22px;
					cursor:pointer;
					padding:0px, 10px, 0px, 10px;
					background-color:#f2f2f2;
					/*background-image: url('textfield.gif');*/
			}
.subButton	{
					font-family:arial;
					font-size:10px;
					font-weight:bold;
					background:#ffffff;
					color:#002185; 
					border-width:1px;
					border-style:solid;
					border-color: #002185;
					width:110px; 
					height:22px;
					cursor:pointer;
					padding:0px, 10px, 0px, 10px;
					background-color:#D4D4D4;
					/*background-image: url('textfield.gif');*/
			}
.subButtonInv	{
					font-family:arial;
					font-size:10px;
					font-weight:bold;
					background:#ffffff;
					color:#f2f2f2; 
					border-width:1px;
					border-style:solid;
					border-color: #f2f2f2;
					width:1px; 
					height:1px;
					cursor:pointer;
					padding:0px, 10px, 0px, 10px;
					background-color:#f2f2f2;
					display:none;
					
			}

INPUT, SELECT { 
		color: #002185;
		font-family: arial; 
		font-size:10px; 
		padding: 1px; 
		border-style: solid; 
		border-width: 1px; 
		border-color: #333366; 
		}
		
SELECT { font-size: 12px; }
	
.hidText { border: 0px; background: #E6E6E6;}

	
INPUT.radio { border-width: 0px; }

TEXTAREA	{
		color: #002185;
		font-family: arial; 
		font-size:10px; 
		padding: 1px; 
		border-style: solid; 
		border-width: 1px; 
		border-color: #002185; 
	}
		

.sButton	{
					font-family:arial;
					font-size:10px;
					font-weight:bold;
					background:#ffffff;
					color:#002185;
					border-width:1px;
					border-style:solid;
					border-color: #002185;
					width:100px; 
					height:22px;
					cursor:pointer;
					padding:0px, 10px, 0px, 10px;
					background-color:#f2f2f2;
			}

.paren	{font-size: 12px;}

/* Sortable tables */
table.sortable a.sortheader {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}

table.sortable	{margin: 5px; }

.dbutton	{
					font-family:arial;
					font-size:10px;
					font-weight:bold;
					background:#ffffff;
					color:#993300; 
					border-width:1px;
					border-style:solid;
					border-color: #993300;
					 width:200px; 
					height:18px;
					cursor:pointer;
					padding:0px, 10px, 0px, 10px;
			}
.grayBG {background: #E6E6E6;}

div.advancedSearch
 {background: #e9e9e9;
  padding:0px 30px 10px 10px; 
  margin:0px 0px 0px 0px; 
   
 }
 
div.quickSearch
 {  
 }

div.advButton
 {
 margin:15px 5px 15px 40px;
 }
 a.possible:link{
  background-color:#D5E0E9;
  padding:3px 8px 3px 8px;
  border:1px solid #ffffff;
  margin-left:-5px;
  }
  a.possible:visited{
  background-color:#D5E0E9;
  padding:3px 8px 3px 8px;
  border:1px solid #ffffff;
  margin-left:-5px;
  }
  a.possible:hover{
  background-color:#E4EBF1;
  padding:3px 8px 3px 8px;
  border:1px solid #ffffff;
  margin-left:-5px;  
  }
 
a.notPossible{
 background-color:#D5E0E9;
 padding:3px 8px 3px 8px;
  border:1px solid #ffffff;
  margin-left:-5px;
  text-decoration:none;
  }
  
 div.midButtons{
 text-align:right;
 }
 div.steps{
 text-align:left;
 background-color:#ffffff;
 margin:5px 5px 15px 5px;
 padding:0px 0px 0px 0px;
 }
 
 span.pop { background-color: yellow; color: red; text-align: center; padding: 5px;}
 
 table.graphTable{
 text-align:left;
 
  }
 #reportBold{
 font-weight:bold;
 }
 .divHide	{display:none;}
.divShow	{
	padding:5px;
	display:block;
	position:relative;
 	top:0px;
 	left:10px;
	border: 1px dashed #D2D3D3;
	margin-right:12px;
	}
.exp{
text-decoration:none;
font-size:1.3em;

}
 
