	body { font-family:arial; font-size: 11px; margin-top: 0px}
	TABLE{border: 0px; padding:0px; font-size:12px;}
	Td{	font-size: 12px;
		background: #F2F2F2;
		padding: 4px; 
		border: 1px solid white;
		color: #000000;
		white-space:nowrap;
	}.geneSpacerStyle { 	height: 1px; 
						font-size: 0px; 
						border-top: 1px solid black; 
						border-left: 2px solid black;
						border-right: 2px solid black;
						border-bottom: 2px solid black;  
						padding: 0px; 
						/* background-color: #ffffff; */
					}
	 #header { font-weight: bold;
	 			font-size: 12px;
	 		}
	 		
	 b.otherBold{ font-size: 11px; font-weight:normal; }
	.queriesList { width: 600px; padding: 5px; }
	.q { width:200px; height: 200px; overflow:auto; border: 1px solid black; padding: 3px; background: #F2F2F2;}
	.title { font-size: 16px; font-weight: bold; padding-bottom: 10px; font-family: tahoma }
	.rowCount { font-size:11px; padding:2px;}
	
	.fontClass { font-size: 10px; 
				font-family: verdana;
				color:#000000; 
				padding:1px; 
				border-top:0px; border-bottom:0px; border-right:0px; border-left:0px;
				white-space:normal;
				background-color:#e9e9e9; 
				margin: 0px;
				}
  	.capfontClass { font-size: 10px; 
  					font-family: verdana;
  					color:#ffffff; 
  					padding:1px; 
  					border-top:0px; border-bottom:0px; border-right:0px; border-left:0px;
  					white-space:normal;
  					background-color: #AB0303; 
  					margin: 0px;
  					}
  	.fgClass {font-size: 10px; 
  			font-family: verdana;
  			padding:1px; 
  			border-top:1px solid #AB0303;border-bottom:1px solid #AB0303;border-left:1px solid #AB0303;border-right:1px solid #AB0303;
  			margin: 0px;
  			white-space:normal;
  			background-color:;
  			}
  	.bgClass {font-size: 10px; 
  			font-family: verdana;
  			padding:1px; 
  			border-top:0px; border-bottom:0px; border-right:0px; border-left:0px; 
  			margin: 0px;
  			white-space:normal;
  			background-color:;
  			}
