<?xml version="1.0" encoding="UTF-8"?>

<!--L
  Copyright (c) 2006 SAIC, SAIC-F.

  Distributed under the OSI-approved BSD 3-Clause License.
  See http://ncip.github.com/rembrandt/LICENSE.txt for details.
L-->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
       http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">
	
		
	<bean id="listLoader"
		class="gov.nih.nci.rembrandt.util.RembrandtListLoader">
		<property name="sessionFactory" ref="sessionFactory" />	
	</bean>

	<!--  Bean for thread pool -->
	<bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
  		<property name="corePoolSize" value="5" />
  		<property name="maxPoolSize" value="100" />
  		<property name="queueCapacity" value="400" />
	</bean>
    <bean name="/login"
		class="gov.nih.nci.rembrandt.web.struts.action.LoginAction">
		<property name="listLoader">
			<ref bean="listLoader" />
		</property>
	</bean>
	
	
	
	
</beans>