		body { font-family:arial; font-size: 11px; margin-top: 0px}
		TABLE	{border: 0px; padding:0px; font-size:12px;}
		Td {
		
			font-size: 12px;
			background: #F2F2F2;
			padding: 4px; 
			border: 1px solid white;
			color: #000000;
			white-space:nowrap;
		
			}
		#header { font-weight: bold;
		 			font-size: 12px;
		 		}
		
		a, a:visited {color:blue}

		tr.header, td.header	{
				color:red;
				font-weight:bold;
		}
		
		td.ASTROCYTOMA { background-color: #B6C5F2; }
		td.GBM { background-color: #F2E3B5; }
		td.MIXED { background-color: #DAE1F9; }
		td.OLIG { background-color: #C4F2B5; }
		
		.sampleRow, .headerRow { font-weight: bold; }
		.rowCount { font-size:11px; padding:2px;}

		.title { font-size: 16px; font-weight: bold; padding-bottom: 10px; font-family: tahoma }
		
		.geneSpacerStyle { 	
		height: 3px; 
						font-size: 1px; 
						border-top: 1px solid black; 
						border-left: 2px solid black;
						border-right: 2px solid black;
						border-bottom: 2px solid black;  
						padding: 0px; 
						background-color: #ffffff;
					}
		
			.fontClass { font-size: 10px; 
				font-family: verdana;
				color:#000000; 
				padding:1px; 
				border-top:0px; border-bottom:0px; border-right:0px; border-left:0px;
				white-space:normal;
				background-color:#e9e9e9; 
				margin: 0px;
				}
  	.capfontClass { font-size: 10px; 
  					font-family: verdana;
  					color:#ffffff; 
  					padding:1px; 
  					border-top:0px; border-bottom:0px; border-right:0px; border-left:0px;
  					white-space:normal;
  					background-color: #AB0303; 
  					margin: 0px;
  					}
  	.fgClass {font-size: 10px; 
  			font-family: verdana;
  			padding:1px; 
  			border-top:1px solid #AB0303;border-bottom:1px solid #AB0303;border-left:1px solid #AB0303;border-right:1px solid #AB0303;
  			margin: 0px;
  			white-space:normal;
  			background-color:;
  			}
  	.bgClass {font-size: 10px; 
  			font-family: verdana;
  			padding:1px; 
  			border-top:0px; border-bottom:0px; border-right:0px; border-left:0px; 
  			margin: 0px;
  			white-space:normal;
  			background-color:;
  			}
  	.pageControl, .filterForm { 
  					/*background-color:#F2F2F2; */
  					background-color: #ffffff;
  					background-image: url(../images/buttonbg.png);
  					background-repeat: repeat-x;
  					padding:3px;
  					padding-left:8px; 
  					border-left:1px dotted black; 
  					border-right:1px dotted black; 
  					height: 21px;
  					overflow: none;
  					margin-bottom:5px;
  				}
	.rptHeader	{
		background-color:#F1F1F1;
		/* background-color: #ffffff; */
		padding:5px;
		padding-bottom:1px;
	}
  	INPUT, SELECT { 
		/*color: #002185;*/
		font-family: arial; 
		font-size:10px; 
		padding: 1px; 
		border-style: solid; 
		border-width: 1px; 
		border-color: #000000;
		margin-left:3px; margin-right:3px;
		}
		.checkorradio	{
			border: 0px;
		}
		.lb	{
			display:block;
			float:left;
			width:100px;
			text-align:left;
		}
		
		.er { border: 1px solid red; }
		.err { color:#ff0000; height:30px; background-color:yellow; padding:1px; font-weight: bold; text-align:center; margin:10px;}
		